doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Chu Tools
    meta(name='description', content='')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='icon', type='image/png', href='favicon.ico')

    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/solid.css', integrity='sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm', crossorigin='anonymous')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css', integrity='sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq', crossorigin='anonymous')
  body
    #root.root
