body {
  @apply bg-grey-darkest;
}

a {
  @apply text-grey-darkest;
}

button {
  @apply p-2 cursor-pointer rounded-sm text-grey-lightest;
}

button,
a,
input,
select {
  &:focus {
    @apply outline-none;
  }
}

.input {
  @apply p-2 w-full bg-grey-dark text-white;
}

button:disabled {
  @apply opacity-50;
}

.root {
  @apply h-screen;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.content {
  height: calc(100% - 131px);

  @screen md {
    height: calc(100% - 89px);
  }
}

.tweets__unordered {
  @screen md {
    flex-basis: 25vw;
  }
}
